@import "tailwindcss";

html,
body {
  color: #ffffff;
  background-color: #141414;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.rich-text * {
  all: revert;
}

img {
  display: block !important;
}

::-webkit-scrollbar {
  display: none;
}
